* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}

html {
  font-family: "Raleway", sans-serif;
}

.util, .post .text_post p, .results .result p, .results .result h1, .devices .dev-list li:before, .devices .dev-list li, .devices .dev-text p, .video .video-text .time, .latest-pj .choice .content-img .content-text p, .latest-pj .choice, .latest-pj p, .multi p, .themes .texthemes p {
  font-family: "Montserrat", sans-serif;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 300ms;
}

.header {
  background: url(../img/bg.jpg);
  color: white;
}

.bar {
  display: block;
  padding: 30px 0 300px 0;
}

.wrapper, .devices__wrapper {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  float: right;
  font-weight: 300;
}
.menu ul {
  margin: 0 5px;
  display: block;
  padding: 8px 0 0 0;
}
.menu li {
  display: inline-block;
  margin-left: 30px;
}
.menu li:last-child {
  margin-left: 30px;
}
.menu .menu-cart {
  margin-left: 35px;
}

.logo {
  display: inline-block;
  max-width: 20%;
}
.logo img,
.logo h1 {
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
}

.menu,
.logo {
  vertical-align: middle;
}

.first-section .text-carrosel {
  width: 600px;
  margin: auto;
  text-align: center;
  padding: 0 0 60px 0;
}
.first-section .text-carrosel h2 {
  font-weight: 500;
  font-size: 36px;
}
.first-section .text-carrosel h1 {
  font-weight: 800;
  font-size: 52px;
}
.first-section .text-carrosel span {
  font-family: "Montserrat" sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.first-btn {
  background-color: #998675;
  text-transform: uppercase;
  width: 175px;
  height: 50px;
  border: none;
  box-shadow: 0 5px #736357;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  opacity: 0.9;
  transition: ease 0.4s;
  cursor: pointer;
}
.first-btn:hover {
  opacity: 1;
  transform: translateY(1px) scale(0.95);
}

.first-section-btn {
  text-align: center;
  padding: 0 0 325px 0;
}

.carrosel-fake {
  text-align: center;
  padding: 0 0 20px 0;
}
.carrosel-fake li {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 2px;
  background: #999897;
  cursor: pointer;
}
.carrosel-fake li:hover {
  background: #222224;
  border: solid;
  border-width: 1px;
}

.features {
  padding: 80px 0;
  width: 100%;
  display: block;
  text-align: center;
}
.features h3 {
  font-size: 22px;
  font-weight: 600;
}
.features span {
  font-family: "Montserrat" sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.features .feautures-box {
  width: 24%;
  display: inline-block;
}
.features .feautures-box .line {
  height: 2px;
  width: 70px;
  background-color: #f1eee9;
  margin: 30px auto 0 auto;
  transition: ease 0.4s;
}
.features .feautures-box:hover .title-fea {
  color: #c7b299;
  transition: ease 0.4s;
}
.features .feautures-box:hover .line {
  background: #c7b299;
  transition: ease 0.4s;
}
.features .title-fea {
  margin: 20px 0;
  transition: ease 0.4s;
}

.themes {
  padding: 90px 0 0 0;
  background: #fbfaf8;
}
.themes .texthemes {
  width: 770px;
  margin: 0 auto;
  display: block;
  padding: 0 0 40px 0;
  text-align: center;
}
.themes .texthemes h2 {
  font-size: 30px;
  font-weight: 600;
}
.themes .texthemes p {
  font-size: 16px;
  font-weight: 300;
}
.themes .images {
  position: relative;
  height: 375px;
}
.themes .images img {
  display: inline-block;
  position: absolute;
  width: 50%;
  bottom: 0;
}
.themes .images img:first-child {
  left: 0;
}
.themes .images img:last-child {
  right: 0;
}
.themes .images img:nth-child(2) {
  left: calc(50% - (50% / 2));
  z-index: 1;
}

.multi {
  background-image: linear-gradient(to right, #231c1a, #483025);
  display: inline-block;
  width: 100%;
}
.multi h2 {
  font-size: 28px;
  color: white;
  display: inline-block;
  font-weight: 400;
}
.multi p {
  font-size: 18px;
  font-weight: 300;
  color: #615855;
  display: inline-block;
}
.multi .waxom {
  color: #c7b299;
  font-size: 28px;
  display: inline-block;
  font-weight: 400;
}
.multi .multi-text {
  float: left;
  padding: 50px 0;
  width: 70%;
}
.multi .multi-btn {
  float: left;
  width: 30%;
  padding: 50px 20px 50px 0;
}

.latest-pj h2 {
  font-size: 30px;
}
.latest-pj p {
  font-size: 16px;
  font-weight: 300;
}
.latest-pj .description {
  text-align: center;
  width: 780px;
  margin: 80px auto 0 auto;
}
.latest-pj .description h2 {
  margin-bottom: 30px;
}
.latest-pj .choice {
  font-weight: 300;
  font-size: 14px;
}
.latest-pj .choice ul {
  text-align: center;
}
.latest-pj .choice li {
  display: inline-block;
  border: solid;
  border-width: 1px;
  border-color: #ebebeb;
  margin: 40px 10px 40px 0;
  transition: ease 0.2s;
  height: 30px;
  padding-top: 5px;
}
.latest-pj .choice li a {
  padding: 20px;
}
.latest-pj .choice li:last-child {
  margin: 0;
}
.latest-pj .choice li:hover {
  color: white;
  background-color: #998675;
  border-color: #998675;
  transition: ease 0.2s;
}
.latest-pj .choice .content-img {
  width: 360px;
  display: inline-block;
  margin: 15px;
}
.latest-pj .choice .content-img img {
  width: 360px;
}
.latest-pj .choice .content-img .content-text {
  background-color: #fbfaf8;
  height: 100px;
  width: 100%;
  padding: 30px 0 30px 30px;
  margin-top: -4px;
  position: relative;
}
.latest-pj .choice .content-img .content-text:before {
  position: absolute;
  top: 0;
  left: 0;
  margin: -15px 0 0 30px;
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fbfaf8;
}
.latest-pj .choice .content-img .content-text h6 {
  color: #dfd4c5;
  font-size: 20px;
  font-weight: 500;
}
.latest-pj .choice .content-img .content-text p {
  font-weight: 300;
  font-size: 14px;
  color: #d1d1d1;
}
.latest-pj .load-btn {
  text-align: center;
  margin: 40px 0 80px 0;
}

.video {
  background-image: url(../img/video.jpg);
  text-align: center;
}
.video .icon {
  padding: 210px 0 50px 0;
}
.video .video-text {
  color: white;
  text-align: center;
  width: 550px;
  margin: 0 auto;
}
.video .video-text h2 {
  font-size: 30px;
  font-weight: 500;
  padding: 0 0 30px 0;
}
.video .video-text p {
  font-size: 16px;
  font-weight: 300;
}
.video .video-text .time {
  font-size: 14px;
  font-weight: 400;
  color: #c7b299;
  padding: 40px 0 180px 0;
}

.devices__wrapper {
  padding: 192px 0 175px 0;
  background: url("../img/hand-phone.png") no-repeat bottom left 48px;
}
.devices__block {
  max-width: 665px;
  margin-left: auto;
}
.devices .dev-text h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.devices .dev-text p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 50px;
  color: #8c8c8c;
  line-height: 28px;
}
.devices .dev-list {
  margin-left: 45px;
}
.devices .dev-list li {
  position: relative;
  margin-bottom: 10px;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  padding-left: 50px;
}
.devices .dev-list li:before {
  text-align: center;
  color: white;
  font-weight: 600;
  content: ">";
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 0;
  background: #cab69f;
  left: 0;
}

.results {
  background-image: linear-gradient(to right, #251d1a, #4a3226);
  text-align: center;
  padding: 68px 0 60px 0;
}
.results .result {
  display: inline-block;
  margin-right: 75px;
}
.results .resultlast_child {
  margin-right: 0;
}
.results .result h1 {
  margin: 20px 0 20px 0;
  color: white;
  font-size: 48px;
  font-weight: 200;
}
.results .result p {
  color: #c7b299;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
.results .result .result_line {
  height: 3px;
  width: 35px;
  background-color: #ffffff;
  margin: 30px auto 0 auto;
}

.post {
  padding: 80px 0;
}
.post .text_post {
  text-align: center;
  width: 760px;
}
.post .text_post h2 {
  font-size: 30px;
  font-weight: 600;
}
.post .text_post p {
  margin-top: 35px;
  margin-bottom: 45px;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}
.post .content_post {
  display: inline-block;
  margin-right: 30px;
}
.post .content_postlast_child {
  margin-right: 0;
}

/*# sourceMappingURL=style.css.map */
